<div class="container">
    <div class="row">
        <div class="col">
            <a [routerLink]="'/bonus'" >
                <img src="./assets/images/baner.jpg" class="img-fluid mx-auto d-block w-100" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="card border-sucess mb-3 mx-1" style="width: 20rem;" *ngFor="let product of products | async">
            <a [routerLink]="['/product', product.id]">
                <img src="{{product.logo}}" class="card-img-top" alt="{ {product.photo_alt}}" />
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">{{product.name}}</h5>    
                <p class="card-text" [innerHTML]="product.description"></p>
                <p class="card-text"><a class="text-success" [routerLink]="['/product', product.id]">Подивитися >></a></p>
                <button type="button" class="btn btn-success" (click)="OnAddCart(product)" style="position: relative;" data-toggle="modal" data-target="#goToCartOrStay">Напередзамовлення</button>
                <p class="card-text text-right"><small class="text-muted">В наявності {{product.inStock}}</small></p>
            </div>
            <div claSS="card-footer">
                <p class="card-text text-danger" [innerHTML]="product.price.uah"></p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="goToCartOrStay" tabindex="-1" role="dialog" aria-labelledby="goToCartOrStayLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="goToCartOrStayLabel">Що будемо робити?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- <div class="modal-body">
                    ...
                </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Продовжити купувати</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="GoToCart()">Оформити купівлю</button>
                </div>
            </div>
        </div>
    </div>
</div>
