<div class="container">
    <div class="row">
        <div class="col">
            <ngb-alert *ngIf="!message.isClose" [type]="message.type" (close)="message.isClose = true">{{ message.text }}</ngb-alert>
            <div class="clearfix">
                <div class="float-left"><h3 class="align-items-left">Мій кошик</h3></div>
                <button type="button" class="btn btn-success float-right mt-2" data-toggle="modal" data-target="#checkout" onclick="this.blur()" [disabled]="(items.length &lt; 1)">&#9734; Оформити замовлення {{items.length}}</button>
            </div>
            <p class="h5 text-center"><span class="badge badge-danger">При замовленні двох футболок <a [routerLink]="['/bonus']" class="text-warning"><u>Торба</u></a> у подарунок!</span></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Назва</th>
                        <th scope="col">Ціна</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><b>Разом:</b></td>
                        <td colspan="2"><b>{{total}}</b></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr class="align-middle" *ngFor="let item of items">
                        <th scope="row"><img class="img-thumbnail" src="{{item.product.logo}}" width="75px" /></th>
                        <td class="align-middle"><a *ngIf="item.product.options.type != 'bonus'" [routerLink]="['/product', item.product.id]">{{item.product.name}}</a>
                        <a *ngIf="item.product.options.type == 'bonus'" [routerLink]="['/bonus']">{{item.product.name}}</a></td>
                        <td class="align-middle">{{item.product.price.uah}}</td>
                        <td class="align-middle" [attr.colspan]="(item.product.options.type != 'bonus') ? 1 : 2">
                            <span class="align-middle" *ngIf="item.product.options.type != 'bonus'">
                                <span class="badge" (click)="OnQuantityDecrease(item)"><i class="fa fa-minus"></i></span>&nbsp;<span class="badge badge-danger badge-pill">{{item.quantity}}</span>&nbsp;<span class="badge" (click)="OnQuantityIncrease(item)"><i class="fa fa-plus"></i></span>
                            </span>
                            <button *ngIf="item.product.options.type == 'bonus'" type="button" class="close" aria-label="Close" (click)="OnQuantityDecrease(item)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary float-left mt-2" [routerLink]="'/products'" onclick="this.blur();">&#8592; Повернутися</button>
            <button type="button" class="btn btn-secondary mr-2 mt-2 float-right" (click)="OnCartClear()" onclick="this.blur();">&#215; Видалити все з кошика</button>
        </div>
    </div>
    <div class="modal fade" id="checkout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="h5 modal-title" id="exampleModalLabel">Оформлення замовлення</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #btnClose>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Форма замовлення -->
                    <form [formGroup]="checkoutForm" (ngSubmit)="OnCartCheckout()">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Ім'я</label>
                                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Тарас" [ngClass]="{'is-invalid': submitted && checkoutForm.controls.name.errors}">
                                <div *ngIf="submitted && checkoutForm.controls.name.errors" class="alert alert-danger">
                                    <div *ngIf="checkoutForm.controls.name.errors.required">
                                        Введіть ім'я
                                    </div>
                                    <div *ngIf="checkoutForm.controls.name.errors.minlength">
                                        Ім'я має бути довшим за 2 літери
                                    </div>
                                    <div *ngIf="checkoutForm.controls.name.errors.pattern">
                                        У подвійних іменах викорустовуйте дефіс або пропуск
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="surname">Прізвище</label>
                                <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Шевченко" [ngClass]="{'is-invalid': submitted && checkoutForm.controls.surname.errors}">
                                <div *ngIf="submitted && checkoutForm.controls.surname.errors" class="alert alert-danger">
                                    <div *ngIf="checkoutForm.controls.surname.errors.required">
                                        Введіть прізвище
                                    </div>
                                    <div *ngIf="checkoutForm.controls.surname.errors.minlength">
                                        Прізвище має бути довшим за 2 літери
                                    </div>
                                    <div *ngIf="checkoutForm.controls.name.errors.pattern">
                                        У складених прізвизах викорустовуйте дефіс
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Телефон</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">+380</span>
                                </div>
                                <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="891234567" [ngClass]="{'is-invalid': submitted && checkoutForm.controls.phone.errors}">
                            </div>
                            <div *ngIf="submitted && checkoutForm.controls.phone.errors" class="alert alert-danger mb-3">
                                <div *ngIf="checkoutForm.controls.phone.errors.required">
                                    Введіть номер телефона
                                </div>
                                <div *ngIf="checkoutForm.controls.phone.errors.pattern">
                                    Номер складається із 9 цифр
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city">Місто</label>
                                <input type="text" class="form-control" id="city" formControlName="city" placeholder="Канів" [ngClass]="{'is-invalid': submitted && checkoutForm.controls.city.errors}">
                                <div *ngIf="submitted && checkoutForm.controls.city.errors" class="alert alert-danger">
                                    <div *ngIf="checkoutForm.controls.city.errors.required">
                                        Введіть місто
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="office">Відділення Нової Пошти</label>
                                <input type="text" class="form-control" id="office" formControlName="office" placeholder="Номер відділення" [ngClass]="{'is-invalid': submitted && checkoutForm.controls.office.errors}">
                                <div *ngIf="submitted && checkoutForm.controls.office.errors" class="alert alert-danger">
                                    <div *ngIf="checkoutForm.controls.office.errors.required">
                                        Введіть номер відділення
                                    </div>
                                    <div *ngIf="checkoutForm.controls.office.errors.pattern">
                                        Невірний формат номера. Номер має бути від 1 до 9999
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isCallBack" formControlName="isCallBack" />
                                <label class="form-check-label" for="isCallBack">Я підтверджую замовлення, передзвонювати не треба</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <legend class="col-form-label">Форма оплати</legend>
                            <div class="col" [ngClass]="{'is-invalid': submitted && checkoutForm.controls.paymentMethod.errors}">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodCash" formControlName="paymentMethod" value="cash" (click)="paymentMethod='cash'">
                                    <label class="form-check-label" for="paymentMethodCash">Наложений платіж</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodCard" formControlName="paymentMethod" value="card" (click)="paymentMethod='card'">
                                    <label class="form-check-label" for="paymentMethodCard">Картою</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-info" *ngIf="paymentMethod=='card'">
                                    Реквізити карти будуть надані під час опрацювання замовлення
                                </div>
                            </div>
                            <div *ngIf="submitted && checkoutForm.controls.paymentMethod.errors" class="alert alert-danger">
                                <div *ngIf="checkoutForm.controls.paymentMethod.errors.required">
                                    Оберіть спосіб оплати
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="comment">Коментар</label>
                                <textarea class="form-control" id="comment" formControlName="comment"rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <button class="btn btn-success float-right mt-2" onclick="this.blur();">&#9734; Замовити</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>