<div class="container" *ngIf="product$ | async as product">
    <div class="row justify-content-md-center">
        <div class="col">
            <p class="h3">{{product.name}}</p>
            <p class="lead">{{product.shortDescription}}</p>
            <p class="h5 text-danger" [innerHtml]="product.price.uah"></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" *ngFor="let image of product.images let j=index" [ngClass]="{'active': j==0}"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let image of product.images let i=index" [ngClass]="{'active': i==0}">
                        <img [src]="image" class="carousel-item-img img-fluid center-block" alt="..." />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Попередня</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Наступна</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="" [innerHTML]="product.description"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary mr-2" (click)="gotoProducts(product)" onclick="this.blur();">&#8592; Повернутися</button>
            <button type="button" class="btn btn-success mr-2" (click)="OnAddCart(product)" onclick="this.blur();">&#9734; У кошик</button>
        </div>
    </div>
</div>
